@using DatabaseActivities.Models.Entity
@model List<StudentModel>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row row-spacing-sm">
<br />
        <input v-model="toSearch" class="col-lg-2" placeholder="Search" v-on:input="search" />
        @Html.ActionLink("Create", "CreateStudent", "Student", new { }, new { @class = "primary-font hbutton color-blue col-lg-offset-8 col-xs-2" })
    </div>
</div>
<table class="table" id="myTable">
    <tr class="color-white table-head primary-font">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Grade</th>
        <th>Ratings</th>
        <th><br /></th>
    </tr>
    @foreach (StudentModel student in Model)
    {
        <tr class="table-row" onclick="location.href='@Url.Action()'">
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.Grade</td>
            <td>@student.GetRating()</td>
            <td>
                <a href="@Url.Action("EditStudent", "Student", new { id = student.Id})" class="hbutton primary-font color-blue hoverHide">Edit</a>
            </td>
        </tr>
    }
</table>
@section scripts{

    <script type="text/javascript" src="~/Content/JavaScript.js"></script>
    <script>

        var app = new Vue({
            el: '#vuebox',
            data: {
                toSearch: "",
            },
            methods: {
                search: function () {
                    var tbl = document.getElementById("myTable").rows;
                    search(tbl, this.toSearch);
                },
                sort: function (column) {
                    var tbl = document.getElementById("myTable");
                    sort(tbl, column);
                },
                sortId: function (column) {
                    var tbl = document.getElementById("myTable");
                    sortNumber(tbl, column)
                },
                sortDate: function (column) {
                    var tbl = document.getElementById("myTable");
                    sortDate(tbl, column);
                }
            }
        });
    </script>
}